<nav>
  <div class="container d-flex justify-content-between py-4 position-relative">
    <img class="brand-name" src="/img/PH_logo_UA.svg" alt="">
				
    {{if .IsTranslated}}
    <div class="switch-wrapper">
      <button class="btn px-2 d-flex align-items-center btn-switch">
        <img src="/img/flags/{{.Language.Params.Path}}" alt="{{.Language.LanguageName}} flag">
        <span class="text-uppercase ml-2">{{.Language.Params.LanguageCode}}</span>
        <svg class="ml-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#6f6f6f"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/></svg>
      </button>
      <ul class="d-none">

        {{range .Translations}}
        <li>
          <a class="d-flex pl-2 py-3 align-items-center" href="{{ .Permalink }}">
            <img src="../img/flags/{{.Language.Params.Path}}" alt="{{.Language.LanguageName}} flag">
            <span class="text-uppercase ml-2">{{.Language.Params.LanguageCode}}</span>
          </a>
        </li>
        {{end}}

      </ul>
    </div>
    {{end}}
  </div>
</nav>