.carousel {
  
  // grid-template-columns: repeat(var(--card-count), minmax($card-width, 1fr));
  grid-auto-flow: column;
  gap: var(--card-gap);

  &-container {
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    margin: 0 10px;
    scrollbar-color: #1f68dc #5988e4;
    scrollbar-width: thin;
    max-width: 100vw;

    @media (min-width: 768px) {
      max-width: 700px;
    }

    &::-webkit-scrollbar {
      height: 0;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      border: 5px solid transparent;
      background-clip: content-box;
      //background-color: rgb(255 255 255 / 20%);
      background: transparent;
    }
  }

  &__slide {
    img,svg {
      width: calc(150px + 2vw);
    }
  }

  &-nav {
    z-index: 1;
  }

  .card {
    background-color: transparent;
    // background-color: rgba(0, 0, 0, 0.05);
    flex-shrink: 0;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    border: none;
    border-radius: 3rem;
    width: 100vw;

    @media(min-width: 567px) {
      width: initial;
    }
  
  }

}

.partners {
  
  img {
    width: 90px;
  }

  .card {

    @media(min-width: 567px) {
      width: 100vw;
    }

    @media(min-width: 768px) {
      width: initial;
    }
  }

}
