.parallax {

  width: 100vw;
  height: 100vh;
  height: calc(750px + 10vw);
  position: relative;
  transform-style: preserve-3d;

  &:after {
    background-image: url('/img/bckgr_mobile.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: "";
    transform: translateZ(-1px) scale(3);
  }
  
}